.events {
    &__title {
        font-size: 3.2rem;
        font-weight: 500;
    }

    &__list {
        &--item {
            padding: .4rem 0;
            display: flex;
            flex-direction: column;
            margin: .25rem 0 0;

            hr {
                display: block;
                height: 1px;
                width: 100%;
                border-top: 1px solid black;
                color: black;
                background-color: black;
            }

            &-title {
                padding-top: .5rem;
                font-weight: 600;
                text-transform: uppercase;
            }

            &-date,
            &-location {
                font-size: 1.4rem;
                display: inline-block;
            }

            @media screen and (min-width: 768px) {
                display: grid;

                hr {
                    grid-column: span 12;
                }

                &-location {
                    text-align: right;
                }
            }
            &.occurred {
                text-decoration: line-through;
            }
        }
    }

}