.hero {
  display: flex;
  vertical-align: middle;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  // height: 45rem;
  justify-content: center;
  gap: 4rem;
  // white-space: none;

  
  &__content {
    font-kerning: none;
    color: var(--color-text--light);
    font-size: 2.4rem;

    // line-height: 7.2rem;
    span {
      color: var(--color-text--dark);
    }
  }

  &__controls {
    position: relative;
    width: 100%;
    margin: 0;
   padding-top: 10rem;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
 
&--content{
  padding: 2rem;
  margin: 0 auto;
  max-width: 107rem;
  position: relative;
  z-index: 1;
}
    &--image {
 
      // position: relative;
      width: 100%;
      height: auto;
      aspect-ratio: 16/9;
      padding-top: 2rem;
      // margin: 0 auto;
    }

    &--play {
      
position: absolute;
      svg {}
// height: 100%;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;
      justify-self: center;
      z-index: 2;
    }

    &--text {
      margin: var(--margin-default);
      color: var(--color-text--white);
      font-size: 2.4rem;
      // @include fluid-type(430px, 1440px, 16px, 24px);
    }
  }


  @media screen and (min-width: 600px) {
    &__content {
      font-size: 3rem;
    }
  }

  @media screen and (min-width: 768px) {
    &__content {
      font-size: 3.6rem;
    }
  }

}